
/* max width of the div containing all site content is 1120, and should be centered on the page */

div, footer {
  width: 1120px;
  margin: auto;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
div {
  margin-top: 20px;
}
header {
  width: 100%;
  overflow: auto;
  background-color: rgb(97, 96, 96);
  margin-bottom: 15px;
}
section {
  margin: 10px 40px 10px 80px;
}
section, nav {
  float: left;
}
nav {
  margin-top: 35px;
}
nav a {
  margin-right: 60px;
  font-size: 1.1em;
  text-decoration: none;
  color: rgb(168, 168, 168);
}
main {
  width: 990px;
  margin: 0 auto;
}
main img, main article {
  float: left;
  margin: 15px;
}
main article {
  width: 450px;
  /* height should be 370 - #button height:*/
  height: 325px; 
  overflow: scroll;
  overflow-x: hidden;
}
#button {
  width: 180px;
  height: 45px;
  background-color: black;
  color: white;
  float: left;
  margin-left: 15px;
  transition: 0.35s;
  border-radius: 5px;
  cursor: pointer;
}
#button:hover {
  background-color: gray;
}
p {
  margin: 12px auto;
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Cantarell', sans-serif;
}
#button p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 19px;
  font-weight: bolder;
}
footer {
  height: 80px;
  background-color: gray;
  margin-bottom: 10px;
}